/* // :host {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
//         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     font-size: 14px;
//     color: #333;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     margin: 8px 0;
// }

// p {
//     margin: 0;
// }

// .spacer {
//     flex: 1;
// }

.desktop {
    // display: none;
} */

p,
span,
h1,
h2,
h3,
h4,
a {
    font-family: "Poppins";
}

body {
    margin: 0;
}


.toolbar {
    max-width: calc(100vw - 20px);
    height: auto;
    width: 100%;
    background-color: #fff9d7;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    /* Opcional: define a ordem de empilhamento, caso haja sobreposição com outros elementos */
}

.toolbar img {
    width: 131px;
    height: 50px;
    margin-left: 10vw;
}

.toolbar .links {
    /* // flex-grow: 1; */
    text-align: right;
    max-width: 50vw;
    width: auto;
}

.toolbar .links a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 12px;
}

.toolbar .links a:active {
    color: #ff0000;
    font-weight: bold;
}

.toolbar .links a:focus {
    color: #ff0000;
    font-weight: bold;
}

.toolbar button {
    background-color: #ffce00;
    border: none;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10vw;
}

/* // .toolbar img {
//     margin: 0 16px;
// }

// .toolbar #twitter-logo {
//     height: 40px;
//     margin: 0 8px;
// }

// .toolbar #youtube-logo {
//     height: 40px;
//     margin: 0 16px;
// }

// .toolbar #twitter-logo:hover,
// .toolbar #youtube-logo:hover {
//     opacity: 0.8;
// } */

.content {
    display: flex;
    /* // margin: 4vw auto 32px; */
    /* // padding: 0 16px; */
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    margin-top: 10vh;
}

.content .banner-home {
    width: 100vw;
    height: 60vh;
}

.content .nossa-trajetoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcd5c7;
    max-width: 100vw;
    width: 100vw;
}

.content .nossa-trajetoria .texto-nossa-trajetoria {
    margin-top: 5vw;
    font-family: "Poppins";
    font-size: 24px;
}

.content .nossa-trajetoria .text-pao-queijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .nossa-trajetoria .text-pao-queijo span {
    font-family: "Poppins";
    font-size: 55px;
}

.content .nossa-trajetoria .text-pao-queijo .text-pao-queijo-bold {
    font-weight: bold;
}

.content .nossa-trajetoria .nossa-trajetoria-imagens img {
    width: 25vw;
    position: relative;
    z-index: 50;
}

.content .nossa-trajetoria .nossa-trajetoria-imagens .imagem-receita {
    margin-right: -8vw;
}

.content .nossa-trajetoria .nossa-trajetoria-imagens .foto-1 {
    margin-left: -6vw;
}

.content .nossa-trajetoria .text-explicacao-queijo {
    font-family: "Poppins";
    font-size: 16px;
    max-width: 80vw;
}

.content .nossa-trajetoria .imagens-story-telling {
    margin-top: 5vh;
    max-width: 80vw;
}

.content .nossa-trajetoria .imagens-story-telling img {
    width: 374px;
    height: 351px;
}

.content .nossa-trajetoria .numeros-impressionam {
    margin-top: 10vh;
    font-family: "Poppins";
    font-size: 55px;
}

.content .nossa-trajetoria .cada-vez-mais {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold 900;
    margin-top: -5px;
}

.content .nossa-trajetoria .indicadores-queijo-mais {
    width: 80vw;
    height: 15vh;
    padding: 10px;
    background-color: #ffce00;
    display: flex;
    margin: 2vh 2vw 2vh 2vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.indicador {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.numero-indicador {
    font-size: 22px;
    font-weight: 700;
}

.content .nossa-trajetoria .indicadores-queijo-mais span {
    text-align: center;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: bold 900;
}


.content .delicias-queijo .title-delicias-queijo {
    margin-top: 5vw;
    font-family: "Poppins";
    font-size: 24px;
    text-align: center;
}

.content .delicias-queijo .sub-title-delicias-queijo {
    font-family: "Poppins";
    font-size: 55px;
    text-align: center;
    margin-top: -5vh;
}

.content .delicias_queijo {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* // svg.material-icons {
//     height: 24px;
//     width: auto;
// }

// svg.material-icons:not(:last-child) {
//     margin-right: 8px;
// }

// .card svg.material-icons path {
//     fill: #888;
// }

// .card-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin-top: 16px;
// }

// .card {
//     all: unset;
//     border-radius: 4px;
//     border: 1px solid #eee;
//     background-color: #fafafa;
//     height: 40px;
//     width: 200px;
//     margin: 0 8px 16px;
//     padding: 16px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     transition: all 0.2s ease-in-out;
//     line-height: 24px;
// }

// .card-container .card:not(:last-child) {
//     margin-right: 0;
// }

// .card.card-small {
//     height: 16px;
//     width: 168px;
// }

// .card-container .card:not(.highlight-card) {
//     cursor: pointer;
// }

// .card-container .card:not(.highlight-card):hover {
//     transform: translateY(-3px);
//     box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
// }

// .card-container .card:not(.highlight-card):hover .material-icons path {
//     fill: rgb(105, 103, 103);
// }

// .card.highlight-card {
//     background-color: #1976d2;
//     color: white;
//     font-weight: 600;
//     border: none;
//     width: auto;
//     min-width: 30%;
//     position: relative;
// }

// .card.card.highlight-card span {
//     margin-left: 60px;
// }

// svg#rocket {
//     width: 80px;
//     position: absolute;
//     left: -10px;
//     top: -24px;
// }

// svg#rocket-smoke {
//     height: calc(100vh - 95px);
//     position: absolute;
//     top: 10px;
//     right: 180px;
//     z-index: -10;
// }

// a,
// a:visited,
// a:hover {
//     color: #1976d2;
//     text-decoration: none;
// }

// a:hover {
//     color: #125699;
// }

// .terminal {
//     position: relative;
//     width: 80%;
//     max-width: 600px;
//     border-radius: 6px;
//     padding-top: 45px;
//     margin-top: 8px;
//     overflow: hidden;
//     background-color: rgb(15, 15, 16);
// }

// .terminal::before {
//     content: "\2022 \2022 \2022";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 4px;
//     background: rgb(58, 58, 58);
//     color: #c2c3c4;
//     width: 100%;
//     font-size: 2rem;
//     line-height: 0;
//     padding: 14px 0;
//     text-indent: 4px;
// }

// .terminal pre {
//     font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
//     color: white;
//     padding: 0 1rem 1rem;
//     margin: 0;
// }

// .circle-link {
//     height: 40px;
//     width: 40px;
//     border-radius: 40px;
//     margin: 8px;
//     background-color: white;
//     border: 1px solid #eeeeee;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     transition: 1s ease-out;
// }

// .circle-link:hover {
//     transform: translateY(-0.25rem);
//     box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
// }

// footer {
//     margin-top: 8px;
//     display: flex;
//     align-items: center;
//     line-height: 20px;
// }

// footer a {
//     display: flex;
//     align-items: center;
// }

// .github-star-badge {
//     color: #24292e;
//     display: flex;
//     align-items: center;
//     font-size: 12px;
//     padding: 3px 10px;
//     border: 1px solid rgba(27, 31, 35, 0.2);
//     border-radius: 3px;
//     background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
//     margin-left: 4px;
//     font-weight: 600;
// }

// .github-star-badge:hover {
//     background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
//     border-color: rgba(27, 31, 35, 0.35);
//     background-position: -0.5em;
// }

// .github-star-badge .material-icons {
//     height: 16px;
//     width: 16px;
//     margin-right: 4px;
// }

// svg#clouds {
//     position: fixed;
//     bottom: -160px;
//     left: -230px;
//     z-index: -10;
//     width: 1920px;
// }

// /* Responsive Styles */
/* // @media screen and (max-width: 767px) {
//     .card-container > *:not(.circle-link),
//     .terminal {
//         width: 100%;
//     }

//     .card:not(.highlight-card) {
//         height: 16px;
//         margin: 8px 0;
//     }

//     .card.highlight-card span {
//         margin-left: 72px;
//     }

//     svg#rocket-smoke {
//         right: 120px;
//         transform: rotate(-5deg);
//     }
// }

// @media screen and (max-width: 575px) {
//     svg#rocket-smoke {
//         display: none;
//         visibility: hidden;
//     }
// } */

.produtos {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 430px;
    flex-wrap: wrap;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    /* Espaço entre a imagem e o texto */
}

.produto .produto-info {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    margin-top: 40px;
}

h3 {
    margin: 0;
    /* Remova a margem padrão do h3 para evitar espaçamento extra */
}

.produto-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.produto-descricao .descricao {
    position: absolute;
    top: 50px;
    right: 0;
    max-width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 150px;
}

.descricao h3 {
    font-size: 34px;
    font-weight: 700;
}

.descricao span {
    font-size: 22px;
}


.produto-imagem button {
    position: absolute;
    left: 25%;
    width: 200px;
    padding: 5px 10px 5px 10px;
    border: none;
    background: #FFCE00;
    border-radius: 5px;
    bottom: -5px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.download {
    position: relative;
    width: 100vw;
    margin-top: 40px;
}

.download img {
    width: 100%;
}

.exclusivo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color:
        #FFF9D7;
    align-items: center;
    padding-block: 40px;
}

.exclusivo-titulo {
    width: 100%;
    margin-block-end: 40px;
}

.exclusivo-titulo h4 {
    text-align: center;
    margin: 0;
}

.posts {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin-inline: 40px;
    max-width: 100%;
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: calc(33% - 80px);
}

.post-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
}

.post-info h3,
p {
    text-align: center;
}

.post-info button {
    border: 2px solid #FFCE00;
    background-color: #fff;
    color: #FFCE00;
    padding: 5px 20px 5px 20px;
    border-radius: 11px;
    font-weight: 700;
    cursor: pointer;
}

.mais-posts {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 60px;
    font-size: 16px;
}

.modos-preparo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #ECDDD9;
    align-items: center;
    padding-block: 40px;
    gap: 60px;
}

.modos-preparo-titulo h4 {
    text-align: center;
    margin: 0;
}

.modo-preparo-forno {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.modo-preparo-forno h3 {
    font-size: 34px;
}

.modo-preparo-forno .passo-a-passo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.passo-forno {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: calc(25% - 40px);
}

.passo-a-passo p {
    text-align: start;
    font-size: 18px;
    margin: 0;
}

.passo-a-passo img {
    width: 100%;
    max-width: 200px;
    height: 200px;
}

.modo-preparo-air-fryer {
    display: flex;
    width: 80vw;
    max-height: 200px;
    align-items: center;
    gap: 40px;
}

.modo-preparo-air-fryer img {
    max-width: 200px;
}

.modo-preparo-air-fryer h3 {
    font-size: 34px;
    margin: 0;
}

.contato {
    width: 100vw;
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 40px;
}

.contato h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    max-width: 200px;
}

#contato-varejo,
#contato-atacado {
    display: flex;
    flex-direction: column;
}

.contato h4 {
    color: #FFCE00;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.contato span {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.numero-wpp img {
    width: 26px;
}

.numero-wpp {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.promocoes {
    width: 100vw;
    background-color: #FFCE00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocao-cadastro {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    gap: 30px;
}

.promocoes h3 {
    font-size: 32px;
    font-weight: 700;
    color: #514100;
    max-width: 200px;
}

.form-promocoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    flex: 1;
}

.empresa-individual {
    display: flex;
}

.empresa-individual button {
    padding: 5px 20px;
    background-color: #FFE96C;
    border: 1px solid #fff;
    border-right: none;
    font-size: 16px;
    color: #755E00;
    font-weight: 700;
}

#nome,
#email {
    padding: 10px 0px;
    border: none;
}

#form-promocao #nome {
    width: 30%;
}

#form-promocao #email {
    width: 40%;
}

#form-promocao button {
    padding: 10px 15px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}

::placeholder {
    color: #B9B9B9;
    padding-left: 10px;
}

iframe {
    width: 100vw;
    height: 300px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: linear-gradient(103.67deg, #FF1200 0.25%, #FF7774 99.63%);
}

.conteudo-rodape {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.conteudo-rodape img {
    max-width: 33%;
}

.localizacao-queiromais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 33%;
    justify-content: center;
}

.localizacao-queiromais span {
    color: #fff;
}

.contato-queijomais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 33%;
    justify-content: center;
    margin-left: 40px;
}

.contato-queijomais h4 {
    color: #FFCE00;
    margin: 0;
}

.rodape-numero-wpp img {
    width: 16px;
}

.rodape-numero-wpp span {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.rodape-numero-wpp {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.toolbar #menu-mobile {
    display: none;
}

@media screen and (min-width: 900px) and (max-width: 1250px) {
    .descricao h3 {
        font-size: 26px;
    }

    .descricao span {
        font-size: 16px;
    }

    .produto-descricao .descricao {
        gap: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .toolbar {
        width: 100%;
    }

    .produto-descricao .descricao {
        position: relative;
        top: 45px;
        max-width: calc(100% - 30%);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        left: 40px;
    }

    .produto {
        min-width: 100%;
    }

    .produto-imagem button {
        bottom: auto;
    }

    .descricao h3 {
        font-size: 18px;
    }

    .descricao span {
        font-size: 16px;
    }

    .produto .produto-info {
        margin-top: 70px;
    }

    .post {
        min-width: 100vw;
    }

    .passo-forno {
        align-items: center;
        max-width: 100vw;
    }

    .modo-preparo-air-fryer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-height: 100%;
        align-items: center;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contato {
        background-color: #252525;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-block: 40px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .contato h3 {
        text-align: center;
        font-size: 16px;
    }

    .contato h4 {
        text-align: center;
        font-size: 14px;
    }

    #contato-varejo,
    #contato-atacado {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        align-items: center;
    }

    .promocao-cadastro {
        flex-wrap: wrap;
    }

    .promocoes h3 {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
    }

    .empresa-individual {
        justify-content: center;
    }

    #form-promocao {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #form-promocao button {
        width: 200px;
    }

    #nome,
    #email {
        width: 100% !important;
    }

    .conteudo-rodape #logo-rodape {
        min-width: 100%;
    }

    .localizacao-queiromais {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }

    .contato-queijomais {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        justify-content: center;
        margin-left: 0px;
        min-width: 100vw;
        align-items: center;
    }

    .content .nossa-trajetoria .indicadores-queijo-mais {
        width: 100%;
        height: auto !important;
        margin: 0 !important;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        padding-block: 10px;
    }

    .indicador {
        gap: 10px;
        width: 100%;
    }

    .content .nossa-trajetoria .indicadores-queijo-mais span {
        min-width: 75px;
    }

    .content .nossa-trajetoria .numeros-impressionam {
        font-size: 20px;
        width: 100%;
        text-align: center;
        background-color: #FFCE00;
    }

    .content .nossa-trajetoria .cada-vez-mais {
        font-size: 18px;
        width: 100%;
        text-align: center;
        background-color: #FFCE00;
    }

    .content .nossa-trajetoria .text-pao-queijo span {
        font-size: 22px;
    }

    .content .nossa-trajetoria .imagens-story-telling img {
        width: 100%;
    }

    .content .delicias-queijo .sub-title-delicias-queijo {
        font-size: 32px;
    }

    .links {
        display: none;
    }

    .toolbar #peca-seu {
        display: none;
    }

    .toolbar #menu-mobile {
        display: block;
        position: absolute;
        left: 0;
        background-color: transparent;
    }

    .toolbar img {
        margin-left: 0;
    }

    .toolbar {
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .produto-descricao .descricao {
        font-size: 14px;
    }

    .produto .produto-info {
        max-width: calc(100% - 30%);
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #fff9d7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #252525;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #818181;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }